{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block main %}
  <h1>Register</h1>
  <hr>
  <form action="{{ url_for('register') }}" method="post" enctype="multipart/form-data" class="mt-3">
    <div class="mb-3">
      <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" required>
    </div>
    <div class="mb-3">
      <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required>
    </div>
    <div class="mb-3">
      <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirmation" type="password" required>
    </div>

    <hr class="my-4">

    <h5 class="mb-3">Your Dog</h5>

    <div class="mb-3">
      <input class="form-control mx-auto w-auto" name="dog_name" placeholder="Dog Name" type="text" required>
    </div>

    <div class="row g-3 mb-3 justify-content-center">
      <div class="col-auto">
        <input class="form-control" name="dog_age" placeholder="Age (years)" type="number" min="0" step="1">
      </div>
      <div class="col-auto">
        <select class="form-select" name="dog_gender">
          <option value="" selected>Gender</option>
          <option>Male</option>
          <option>Female</option>
          <option>Other</option>
        </select>
      </div>
      <div class="col-auto">
        <input class="form-control" name="dog_breed" placeholder="Breed" type="text">
      </div>
    </div>

        <div class="mb-3">
    <select class="form-select mx-auto w-auto" name="favorite_artist" required>
        <option value="" selected disabled>Doggy's Favourite Artist</option>
        <option>Drake</option>
        <option>Miley Cyrus</option>
        <option>Bruno Mars</option>
        <option>The Weeknd</option>
        <option>Justin Timberlake</option>
        <option>Dua Lipa</option>
        <option>Ed Sheeran</option>
    </select>
    </div>


    <div class="mb-3">
      <input class="form-control mx-auto w-auto" name="dog_personality" placeholder="Personality Type" type="text">
    </div>

    <div class="mb-3">
      <textarea class="form-control" name="dog_bio" rows="3" placeholder="Short bio"></textarea>
    </div>

    <div class="mb-4">
      <input class="form-control mx-auto w-auto" name="dog_photo" type="file" accept=".png,.jpg,.jpeg,.gif,.webp">
      <div class="form-text text-center">PNG/JPG/GIF/WebP up to 10MB</div>
    </div>

    <button class="btn btn-primary" type="submit">Create Profile</button>
  </form>
{% endblock %}
